# Python_Basics_Assignment_01

# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
 - *
 - 'hello'
 - -87.8
 - -
 - /
 - +
 - 6

# Answer:

Values: -87.8, 6, 'hello'
Expression: *, -, /, +

# 2. What is the difference between string and variable?

# Answer:
 - Variable just represents the memory location's name in which values of different datatypes can be stored.
 - While string is the alphanumeric value that can be stored in a variable generally in double quotes or single quotes.
 - For example, x="xyz32" here x is a variable and xyz32 represents a string and x is called as a string variable.

In [3]:
x="xyz32"
type(x)

str

# 3. Describe three different datatypes.

# Answer:
Three different datatypes in python are:
1. int : A positive or negative whole number without a decimal point. For example:

In [1]:
a=10
type(a)

int

 2. float: A positive or negative whole number with a decimal point.

In [2]:
a=10.0
type(a)

float

3. list: Lists are ordered datatypes which can store values of different datatypes in a single variable. Here the different items can be stored in a single variable using square brackets.

In [4]:
x=["text",234,34.23,["text",234,34.23]]
print("x is of "+str(type(x)))
print("x[0] is of "+str(type(x[0])))
print("x[1] is of "+str(type(x[1])))
print("x[2] is of "+str(type(x[2])))
print("x[3] is of "+str(type(x[3])))

x is of <class 'list'>
x[0] is of <class 'str'>
x[1] is of <class 'int'>
x[2] is of <class 'float'>
x[3] is of <class 'list'>

# 4. What is an expression made up of? What do all expressions do?

# Answer:
 - An expression is a combination of variables and operators.
 - They perform the corresponding operations of operators on the variables and can return the result.
 - For example,

In [5]:
a=5
b=10
c=a+b #an expression, here as '+' operator is used it adds the values of a and b and then returns the value to c.
print(c)

15

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# Answer:
 - In assignment statements like spam =10, the value on RHS is assigned to the variable on the LHS side i.e., the value 10 is assigned to the spam variable.
 - While in expressions, the variables and operators on the RHS side are solved and the result is returned to the variable on the LHS side. For example, c=a+b is an expression where the values of a and b are added and the sum is returned to the variable c.

# 6. After running the following code, what does the variable bacon contain?
 - bacon = 22
 - bacon + 1

# Answer: 
 - Here the first line of code is an assignment statement, where the value 22 on RHS is assigned to the the variable bacon on the LHS 
 - In the second line of the code which is an expression, value of bacon is added with 1 but is not returned to any variable. Thus, the value of the bacon variable remains as 22.

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

# Answer: 
 - Both the lines gives the same output.
 - In the first line of code, as both are strings, concatination operation of the strings is done so the result is:
   'spamspamspam'
 - While in the second line of code, the string 'spam' is printed for three times as it is multiplied with 3 hence the result is:  'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

# Answer:
 - In general, variables are used to store the values and a numeric value cannot be assigned to another numeric value logically.
 - In python a variable name cannot be a keyword name and also must not start with a numeric value.
 - As eggs neither represents a keyword nor starts with a numeric value. So it is a valid variable name. While 100 is a numeric value which is an invalid variable name.

In [6]:
eggs="hundred"
eggs

'hundred'

In [7]:
100="hundred"
100

SyntaxError: cannot assign to literal (<ipython-input-7-0c5dbe631277>, line 1)

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

# Answer: 
 - Typecasting can be used to get a particular version of a value.
 - To get integer version of a value, int() function can be used. However, alphabets or text values cannot be typecasted to integers.

In [8]:
a=10.5 #here a is a float variable
type(a)

float

In [9]:
int(a) #integer version of a

10

In [10]:
type(int(a)) # here float variable a is converted into an integer variable

int

 - To get floating version of a value, float() function can be used. However, alphabets or text values cannot be typecasted to floating point numbers.

In [11]:
a=10 # here a is an integer variable
type(a)

int

In [12]:
float(a) # float version of a

10.0

In [13]:
type(float(a)) # here int variable a is converted into a float variable

float

 - To get string version of a value, str() function can be used. Here numeric values can also be typecasted as a string

In [15]:
a=10 # here a is an integer variable
type(a)

int

In [16]:
str(a) # string version of a

'10'

In [17]:
type(str(a)) # here int variable a is converted into a string variable

str

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + 'burritos'

# Answer:
 - In the above line, the 'I have eaten' is a string value, 99 is an int value, 'burritos' is a string value.
 - The + operator can operate only between the values of same datatypes.
 - As the text values or string values cannot be typecasted to integers, the int value (here 99) must be typecasted into a string.
 - Between strings, the + operator performs concatination of the strings.
 - So it can be corrected as:
    'I have eaten ' + str(99) + 'burritos'
    and the output is:
    'I have eaten 99 burritos'

In [18]:
type('I have eaten')

str

In [19]:
type(99)

int

In [20]:
type('burritos')

str

In [21]:
type(str(99))

str

In [22]:
'I have eaten ' + str(99) + 'burritos'

'I have eaten 99burritos'